# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.open-next
/test

.github*
*.glb
*.jpg
public/data/countries.geojson
/public/drone
/public/fonts
public/drone2.gltf
public/gentilis_bold.typeface.json
public/glow.png
public/helvetiker_bold.typeface.json
public/helvetiker_regular.typeface.json
public/images/locations/night/tokyo_night.png
public/ma_shan_zheng_regular.json
/public/not_used
*.ttf
*.png
*.json
*.svg
public/scene.bin
/public/sound
/public/sound
/public/textures
