@import 'tailwindcss';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
  background-color: #000; /* Use the black from our theme */
  color-scheme: dark; /* A hint for the browser to use dark-mode scrollbars, etc. */
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color-scheme: dark;

  background-color: transparent;
  overscroll-behavior-y: contain;
  /* Prevents the "bounce" effect and pull-to-refresh on some browsers */
}
