@import 'tailwindcss';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  color-scheme: dark;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color-scheme: dark;

  background-color: transparent;
  overscroll-behavior-y: contain;
}
